body{
    display:block;
    /*background-color: rgb(241, 245, 247);*/
    background-color: rgb(118, 118, 118);
    font-family: 'Times New Roman', Times, serif;
}

.title{
    border: solid;
    border-color: #008CBA;
    border-width: 1px;
}

h1{
    text-align: center;
    padding: 40px;
}

.infoareaone{
    margin:auto;
}

.infoareatwo{
    margin:auto;
}

.email{
    border-style: solid;
}


textarea{
    height: 60px;
}


.enterbutton{
    text-align: center;
    font-size: 18px;
    height: 60px;
    background-color: #008CBA;
    color: white;
    padding: 0px 20px;
    text-align: center;
    text-decoration: none;
    display: block;
}

.returnbutton{
    text-align: center;
    font-size: 18px;
    height: 60px;
    background-color: #008CBA;
    color: white;
    padding: 0px 20px;
    text-align: center;
    text-decoration: none;
    display: block;
}





