body {
    padding: 0px;
    margin: 0px;
    background-size: contain;
    background-color: rgb(231, 225, 225);
    font-family: 'Lato', sans-serif;
    
}

header {
    background: black;
    height: 55px;
    position: relative;
}

.showing {
    max-height: 100em;
}

header {
    background: #343a40;
    height: 55px;
    position: relative;
}

header .logo{
    float: left;
    height: inherit;
}

header .logo-txt {
    font-family: 'Lato', sans-serif;;
    margin: 10px;
    padding: inherit;
}

header ul {
    float: right;
    margin: 0px;
    list-style: none;
    padding: 0px;
}

header ul li a {
    text-decoration: none;
    display: block;
    padding: 20px;
    font-size: 1.0em;
    
}

header ul li ul {
    position: absolute;
    top: 55px;
    right: 0px;
    width: 180px;
    display: none;
}

header ul li:hover ul {
    display: block;
}

header ul li a:hover {
    background:rgb(119, 119, 119);
    transition: 1s;
}

header ul li {
    float: left;
    position: relative;
    
}

header * {
    color: white;
}

header .menu-toggle {
    display: none;
    right: 20px;
    top: 15px;
    position: absolute;
}


h1{
    text-align: center;
    padding: 0px;
}

.infoareaone{
    margin:auto;
}

.infoareatwo{
    margin:auto;

    background-color: rgb(241, 245, 247);
    font-family: 'Times New Roman', Times, serif;
}

h1{
    text-align: center;
    padding: 30px;

}

.email{
    border-style: solid;
}



textarea{
    height: 60px;
}



textarea{
    margin: auto;
    height: 60px;
}


.enterbutton{
    text-align: center;
    font-size: 18px;
    height: 60px;
    background-color: #008CBA;
    color: white;

    padding: 0px 20px;
    text-align: center;
    text-decoration: none;
    display: block;
}

.returnbutton{
    text-align: center;
    font-size: 18px;
    height: 60px;
    background-color: #008CBA;
    color: white;
    padding: 0px 20px;
    text-align: center;
    text-decoration: none;
    display: block;
}

.currencybuttons{
    background-color: #343a40;
    color: white;
    width: 50%;
    margin: 4px;
    justify-content: center;

}

.headingButtons{
    text-align: center;
}

.container-fluid {
    background: rgb(128, 128, 128);
    margin: auto;

}

.submit{
    margin: auto;
}

.menuitems{
    background-color: white;
    border-style:solid;
    color: rgb(7, 87, 7);
}

form input[type = text], form input[type = number], form input::placeholder, select {
    color: #9a9a9a;
}


.returnbutton{
    font-size: 18px;
    background-color: #008CBA;
    color: white;
    padding: 0px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
/* Reservation Menu */
.banner {
    min-height: 100vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:teal;
    font-size: 32px;
    padding-bottom: 20px;
    background: url("patio.jpg") center/cover no-repeat;
    width: 100%;
}

.res-img{
    background: url("./Assests/reserve.jpg") center/cover no-repeat;
}

.card-container{
    display: grid;
    grid-template-columns: 420px 420px;

}

.banner h1{
    padding-bottom: 40px;
    margin-bottom: 20px;

}

.card-content {
    background: #fff;
    height: 330px;
    
}

.card-content h3 {
    text-align: center;
    color: #000;
    font-size: 25px;
    font-weight: 700;
    padding: 25px 0 10px 0;
}

.form-row {
    display: inline;
    margin: 0;
    width: 90%;
}

form select, form input{
    display: block;
    width: 85%;
    margin: 15px 12px;
    padding: 5px;
    font-size: 15px;
    font-family: 'Lato', sans-serif;
    outline: none;
    border: none;
    border-bottom: 1px solid #eee;
    font-weight: 500;

}

/* Footer */

.footer {
    background:rgb(118, 118, 118);
    color: white;
    height:400px;
    position: relative;
    
}

.footer .footer-content {
    height: 350px;
    display: flex;
}

.footer .footer-content .footer-section {
    flex: 1;
    padding: 25px;
    border: 1px solid white
}

.footer .footer-content .about .contact span {
    display: block;
    font-size: 1.1em;
    margin-bottom: 8px;
}

.footer .footer-content .about .socials a {
    border: 1px solid grey;
    width:45px;
    height: 41px;
    padding-top: 5px;
    margin-right: 5px;
    text-align: center;
    display: inline-block;
    font-size: 1.3em;
    border-radius: 5px;
}

.footer .footer-content .about .socials a:hover {
    border: 1px solid white;
    color: white;
    transition: all .6s;
}

.footer .footer-content .link ul a {
    display: block;
    margin-bottom: 10px;
    font-size: 1.2em;

}

.footer .footer-content .link ul a:hover {
    margin-left: 15px;
    color: white;
    transition: all .6s;
}

.footer .footer-content h1,
.footer .footer-content h2 {
    color: white;
}

.footer .footer-content .contact-form .contact-input {
    background:rgb(52, 52, 52);
    color: #bebdbd;
    margin-bottom: 10px;
    line-height: 1.5rem;
    padding: .9rem 1.4rem;
    border: none;
}

.footer .footer-content .contact-form .contact-input {
    background:rgb(52, 52, 52);
    color: #bebdbd;
    margin-bottom: 10px;
    line-height: 1.5rem;
    padding: .9rem 1.4rem;
    border: none;
}

.footer .footer-bottom {
    background: #343a40;
    color: rgb(118, 118, 118);
    width: 100%;
    height: 50px;
    text-align: center;
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding-top: 20px;
}

/* Responsiveness */
@media (max-width: 990px){
    .card-container{
        grid-template-columns: 100%;
        width: 100vw;
    }
.card-img{
    height: 330px;
    }
}