body{
    display:block;

    /*background-color: rgb(241, 245, 247);*/
    /*background-color: rgb(231, 225, 225);*/
    background-color: rgb(118,118,118);
    font-family: 'Lato', sans-serif;
}

/* Used on for title */
.title{
    background-color:black;
    color: white;
}

h1{
    text-align: center;
    padding: 0px;
}

/* not used on reservations html anymore

.infoareaone{
    margin:auto;
}

*/

/* not used on reservations html anymore

.infoareatwo{
    margin:auto;

    background-color: rgb(241, 245, 247);
    font-family: 'Times New Roman', Times, serif;
}

*/


/* still being used */
h1{
    text-align: center;
    padding: 10px;

}


/* not being used in reservations html
.email{
    border-style: solid;
}
*/

/* not being used in reservations html

textarea{
    height: 60px;
}

*/


/* not being used in reservations html
textarea{
    margin: auto;
    height: 60px;
}

*/

/* not being used in reservations html
.enterbutton{
    text-align: center;
    font-size: 18px;
    height: 60px;
    background-color: #008CBA;
    color: white;

    padding: 0px 20px;
    text-align: center;
    text-decoration: none;
    display: block;
}
*/

/* not being used in reservations html
.returnbutton{
    text-align: center;
    font-size: 18px;
    height: 60px;
    background-color: #008CBA;
    color: white;
    padding: 0px 20px;
    text-align: center;
    text-decoration: none;
    display: block;
}
*/

/* Heading for Buttons */

.headingButtons{
    color:white;
    padding: 10px;
}

/* Styling for currency buttons */

.currencybuttons{
    background-color: rgb(72, 245, 72);
    width: 100%;
}

/* not being used in reservations html
.headingButtons{
    text-align: center;
}
*/

/* style for menu area */
.menuitems{
    background-color: white;
    border-style:solid;
    color: rgb(7, 87, 7);


    padding: 0px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}



/* No longer using a return button 
.returnbutton{
    font-size: 18px;
    background-color: #008CBA;
    color: white;
    padding: 0px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

no longer using a return button above */



/* Cart Items is Order total Div - did not change naming in html */

.cartItems{
    text-align: center;
    color: white;
    margin-top:20px;
    padding: 15px;

}

/* where joke is asked */

.newButtonApp{
    margin-top: 20px;
    background-color: black;
    color:white;
    border:green;
    border-style: solid;
}


/* joke div */

.areaforjoke{
    text-align:center;
    margin-top: 20px;
    padding:10px;
}

/* footer */

.linkstoPages{
    text-align: center;
}

