body{
    display:block;
    margin: 0px;
    background-color: rgb(231, 225, 225);
    font-family: 'Lato', sans-serif;
}

header {
    background: black;
    height: 55px;
    position: relative;
}

.showing {
    max-height: 100em;
}

header {
    background: black;
    height: 55px;
    position: relative;
}

header .logo{
    float: left;
    height: inherit;
}

header .logo-txt {
    font-family: 'Lato', sans-serif;;
    margin: 10px;
}

header ul {
    float: right;
    margin: 0px;
    list-style: none;
    padding: 0px;
}

header ul li a {
    text-decoration: none;
    display: block;
    padding: 20px;
    font-size: 1.0em;
    
}

header ul li ul {
    position: absolute;
    top: 55px;
    right: 0px;
    width: 180px;
    display: none;
}

header ul li:hover ul {
    display: block;
}

header ul li a:hover {
    background:rgb(48, 48, 48);
    transition: 1s;
}

header ul li {
    float: left;
    position: relative;
    
}

header * {
    color: teal
}

header .menu-toggle {
    display: none;
    right: 20px;
    top: 15px;
    position: absolute;
}

.title{
    font-size: 42px;
    
}

h1{
    text-align: center;
    padding: 0px;
}

.infoareaone{
    margin:auto;
}

.infoareatwo{
    margin:auto;

    background-color: rgb(241, 245, 247);
    font-family: 'Times New Roman', Times, serif;
}

h1{
    text-align: center;
    padding: 30px;

}

.email{
    border-style: solid;
}



textarea{
    height: 60px;
}



textarea{
    margin: auto;
    height: 60px;
}


.enterbutton{
    text-align: center;
    font-size: 18px;
    height: 60px;
    background-color: #008CBA;
    color: white;

    padding: 0px 20px;
    text-align: center;
    text-decoration: none;
    display: block;
}

.returnbutton{
    text-align: center;
    font-size: 18px;
    height: 60px;
    background-color: #008CBA;
    color: white;
    padding: 0px 20px;
    text-align: center;
    text-decoration: none;
    display: block;
}

.currencybuttons{
    background-color: rgb(72, 245, 72);
    width: 100%;
}

.headingButtons{
    text-align: center;
}

.menuitems{
    background-color: white;
    border-style:solid;
    color: rgb(7, 87, 7);
}

    padding: 0px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.returnbutton{
    font-size: 18px;
    background-color: #008CBA;
    color: white;
    padding: 0px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}





